<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-10/12 mx-auto mt-16">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef appTt20px> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef appTt20px> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appTt20px> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="clase">
      <th mat-header-cell *matHeaderCellDef appTt20px> Clase </th>
      <td mat-cell *matCellDef="let element"> {{element.clase}} </td>
    </ng-container>

    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef appTt20px> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
  
    <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef appTt20px> Acción </th>
        <td mat-cell *matCellDef="let element"> 
            <a class="mr-3">
                <mat-icon class="edit__color">edit</mat-icon>
            </a>
            <a>
                <mat-icon class="delete__color">delete</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
  
  